{% include "main.html" %}

{% block content %}

<style>
  .home-container{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
  }
</style>
<h1>homepage</h1><hr>

<div class="home-container">
  <div class="sub-container">
  <div class="location">
    <h3>Locations:</h3>
    <hr>
   {% include "base/location_component.html" %}
  </div>
  <div class="location">
    <h3>Category:</h3> 
    <hr>
   {% include "base/Category_component.html" %}
  </div>
</div>
<div> . </div>
  <div class="tasks">
  <h4>Tasks</h4>
  {% if request.user.is_staff %}
  <a href="{% url 'taskForm' %}"><button>New Task</button></a>
  {% endif %}
  <hr>
  {% include "base/task_component.html" %}
  </div>
<div> . </div>
</div>
{% endblock %}