{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'styles/login.css' %}" />

    <!-- fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section class="boxes">
      <div class="container">
        <div class="box-left">
          <div class="flex-box-4">
            <object
              class="logo"
              data="{% static 'images/logo3.svg' %}"
              width="50"
              height="50"
            ></object>
            <h3 class="name">CLEANUP</h3>
          </div>
          <p>
            Welcome, <br />
            Start your journey towards a clean and green world!
          </p>
        </div>

        <div class="box-right">
          <div class="login-title">Login To Your Account</div>

          <div class="login-form">
            <div class="login-form">
              <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <i class="fa fa-envelope" style="font-size: 14px"></i>
                  <label class="form-control-label">Username</label>
                  <br />
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Your Username" name="username"
                  />
                </div>
                <div class="form-group">
                  <i class="fa fa-lock" style="font-size: 18px"></i>
                  <label class="form-control-label">Password</label>
                  <br />
                  <input
                    type="password"
                    class="form-control"
                    placeholder="**********"
                    name="password"
                  />
                </div>

                <div class="col-lg-12 loginbttm">
                  <div class="col-lg-6 login-btm login-button">
                      <button type="submit" class="btn btn-outline-primary" value="Login">
                      Login Account
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="login">
              {% if messages %}
                <ul class="'messages">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
              </div>
            <div class="login">
              <p>Don't have an account? <a href="signup.html">Sign Up</a></p>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </body>
  </html>